@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    background: black; /* Black background */
    overflow: hidden;
    height: 100vh;
}

.header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, rgba(0, 50, 255, 0.7), rgba(0, 15, 100, 0.7), rgba(0, 25, 150, 0.7));
    background-size: 400% 400%;
    position: relative;
    z-index: 10;
    animation: float 5s ease-in-out infinite, glow 8s linear infinite;
    color: white; /* Adjust text color for visibility */
    box-shadow: 0 0 15px rgba(0, 50, 255, 0.75), 0 0 30px rgba(0, 15, 100, 0.75);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes glow {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(-30deg); /* Slight hue rotation for a subtle effect */
    }
}

#nm, #slogan {
    text-shadow: 2px 2px 4px rgba(0, 50, 255, 1); /* Blue text shadow to make text pop */
}

#nm {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

#slogan {
    font-size: 1.5em;
    margin: 10px 0;
}

.main-menu {
    list-style: none;
    padding: 0;
    display: block; /* Ensure visibility */
}

.main-menu > li {
    position: relative;
    display: inline-block;
}

.main-menu > li > a {
    display: block;
    padding: 10px 20px;
    color: #0fefe8;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.main-menu > li:hover > a {
    background: #2b2c2f;
}

.dropdown {
    position: absolute;
    display: none;
    background: #2b2c2f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 180px;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    display: block;
    padding: 10px;
    color: #0fefe8;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown li a:hover {
    background: #414345;
}

.main-menu > li:hover .dropdown {
    display: block;
}

.star, .line {
    position: absolute;
    animation: moveLeft 10s linear infinite; /* Shared animation for movement */
}

.star {
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    animation: moveLeft 10s linear infinite, twinkle 2s infinite ease-in-out alternate;
}

.line {
    width: 100px;
    height: 2px;
    opacity: 0.5;
}

@keyframes moveLeft {
    from { left: 100%; }
    to { left: -10%; }
}

#spaceship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bobbing 5s ease-in-out infinite;
}

@keyframes bobbing {
    0%, 100% { transform: translate(-50%, -10px); }
    50% { transform: translate(-50%, 10px); }
}
