@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0); /* Black background */
    overflow: hidden;
    height: 100vh;
}

.header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, rgba(128, 208, 255, 0.75), rgba(142, 4, 235, 0.7), rgba(5, 16, 73, 0.7));
    background-size: 400% 400%;
    position: relative;
    z-index: 10;
    animation: float 5s ease-in-out infinite, glow 8s linear infinite;
    color: white; /* Adjust text color for visibility */
    box-shadow: 0 0 15px rgba(8, 29, 39, 0.75), 0 0 30px rgba(47, 0, 100, 0.75);
}



@keyframes glow {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(-30deg); /* Slight hue rotation for a subtle effect */
    }
}

#nm, #slogan {
    text-shadow: 2px 2px 4px rgb(212, 0, 255); /* Blue text shadow to make text pop */
}

#nm {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

#slogan {
    font-size: 1em;
    margin: 2px 0;
}

.main-menu {
    list-style: none;
    padding: 0;
    display: block; /* Ensure visibility */
}

.main-menu > li {
    position: relative;
    display: inline-block;
}

.main-menu > li > a {
    display: block;
    padding: 1px 70px;
    color: #0fcdef;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.main-menu > li:hover > a {
    background: #169ec0;
}

.dropdown {
    position: absolute;
    display: none;
    background: #4eb5cfce;
    box-shadow: 0 8px 16px rgba(0, 238, 255, 0.295);
    z-index: 1000;
    min-width: 180px;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    display: block;
    padding: 10px;
    color: #0fefe8;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown li a:hover {
    background: #06929c;
}

.main-menu > li:hover .dropdown {
    display: block;
}

.star, .line {
    position: absolute;
    animation: moveLeft 10s linear infinite; /* Shared animation for movement */
}

.star {
    width: 2px;
    height: 2px;
    background: rgb(249, 222, 250);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(182, 94, 174, 0.8);
    animation: moveLeft 10s linear infinite, twinkle 2s infinite ease-in-out alternate;
}

.line {
    width: 100px;
    height: 2px;
    opacity: 0.5;
}

@keyframes moveLeft {
    from { }
    to { nav-left: 10%;}
}

#spaceship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bobbing 5s ease-in-out infinite;
}

@keyframes bobbing {
    0%, 100% { transform: translate(-50%, -10px); }
    50% { transform: translate(-50%, 10px); }
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}


canvas {
  filter: blur(1.3px);
}

